/* card.css */
.card-group {
    width: 70%;
    margin: 70px auto 70px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.card-group .card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}