	<!-- About me -->
	<section id="팀소개" class="팀소개">
		<div class="container">
			<div class="title">
				<h4>I Five</h4>
				<h2>About I Five</h2>
			</div>
			<div class="about-self">
				<div class="left">
					<img src="images/ifive.jpeg" alt="">
				</div>
				<div class="right">
					<h3>Hello <strong>WE ARE I FIVE</strong></h3>
					<h2>I 5인으로 이루어진 팀 입니다./h2>
					<p>저희 조는 의견 일치가 잘 됩니다.</p>
					<p>저희 조는 빠른 실행력을 가지고 있습니다.</p>
					<p>저희 조는 역할 분담이 확실합니다.</p>
					<p>저희 조는 협업이 잘 됩니다.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end About me -->