<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>header</title>
	<link rel="stylesheet" href="../css/header.css"
</head>
<body>
	<!-- header -->
	<header>
		<div class="container">
			<h1>
				<button>I Five</button>
			</h1>
				<nav>
					<ul>
						<li>
							<button>팀 소개</button>
						</li>
						<li>
							<button>팀원 소개</button>
						</li>
					</ul>
				</nav>
			</div>
	</header>
	<!-- end header -->
	<script src="../../script.js"></script>
</body>
</html>